#log {
  width: 10%;
  float: left;
}

#mn {
  width: 20%;
  float: left
}

#mn {
  width: 10%;
  float: top left;
}



.ok {
  display: flex;
}

.left {
  position: relative;
  width: 247px;
  float: left;
}

#background {
  position: absolute;
}

#girl {
  width: 125px;
  padding-top: 48%;
  position: absolute
}

.down {
  float: left;
  padding-left: 17%;
  width: 57%;
}

.footer {
  align-content: center;
  padding-top: 4%;
  padding-left: 28%
}

.right {
  position: relative;
  padding-left: 3%;
}

.box1 {
  position: absolute;
  width: 219px;
}

#andy {
  width: 188px
}






h1 {
  padding-left: 28%;
  color: #760000;
  font-size: 50pt;
  font-style: italic;
  font-family: curly_milie;
}

.social {
  width: 6%
}

@font-face {
  font-family: curly_millie;
  src: url("C:\Users\LUCY\Desktop\Website_Assessment\fonts") format (curly_millie);
}

h2 {
  color: #e59e03;
  font-size: 45pt;
  font-style: italic;
  font-family: delmon_delicate_script;
}

h3 {
  color: #760000;
  font-size: 20pt;
  font-style: italic;
  font-family: delmon_delicate_script;
}

@font-face {
  font-family: delmon_delicate_script;
  src: url("C:\Users\LUCY\Desktop\Website_Assessment\fonts");
}

p {
  color: #760000;
  font-size: 15pt;
  font-style: normal;
  font-family: curly_marlie;
}

@font-face {
  font-family: curly_marlie;
  src: url("C:\Users\LUCY\Desktop\Website_Assessment\fonts");
}

.footer {
  padding-left: 31%;
}



/* Create two equal columns that sits next to each other */


.column {
  flex: 50%;
  padding: 5px;
  margin-top: 5px;
  vertical-align: middle;
  width: 15%;
}

.row {
  direction: row;
  display: flex;
  justify-content: space-around;
  width: 90%;
}


img {
  width: 94%;
  margin-top: 15px;
      
}

.img1 {
      border:solid;
      width: 94%;
      margin-top: 15px;
      border-color: #a48fc4;
      border-radius: 56px;
      border-width: 10px;
      
}

.img2{
  border:solid;
      width: 94%;
      margin-top: 15px;
      border-color: #f3caee;
      border-radius: 56px;
      border-width: 10px;
}

.img3{
  border:solid;
      width: 94%;
      margin-top: 15px;
      border-color: #760000;
      border-radius: 56px;
      border-width: 10px;
}

.img4{
  border:solid;
      width: 94%;
      margin-top: 15px;
      border-color: #e59e03;
      border-radius: 56px;
      border-width: 10px;
}



/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: #e59e03;
  padding: 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #f3caee;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  color: #760000;
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f3caee;
  min-width: 160px;
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #760000;
  padding: 10px 8px;
  text-decoration: none;
  display: block;
}



.dropdown-menu{
  background-color: #f3caee;
  
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #a48fc4;
  
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

/* Sofiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii */
.mi-caja {
  background-color: #f3caee;
}

.flex-wrap {
  background-color: #f3caee;
}


.dropdown-toggle {
  background-color: #f3caee;
}
  


.mainbutton{
  color: #f3caee;
  border: none;
  border-radius: 10px;
}


.links{
width: 6%;
height: 6%;
}

.socialimg{
}

.footerimgs{
  display: flex;
  flex-direction: row;
}


body {
  background-image: url("Images/z/transition.jpg/");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}